body {
  background-color: #60b2d8;
  padding: 1%;
  padding-top: 0.2%;
  padding-bottom: 0.2%;
  text-overflow: normal;
  break-after: avoid;
  font-family: Arial;
}


/*
.container_0{

  display: flex;
 align-items: center;
  flex-direction: row; 
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-content: center;
  gap: 10em;
} */
/*
  .box_1{
  position: relative;  
  width: 100%;
} 
.image { 
  position: absolute; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 0pt;
  text-align: center;  
} 
*/
/*  ..............................................   */




  .container-1 {
    display: flex;
    height: 300px;
  }

.call{
  display: flex;
  padding: 3%;
  text-align: center;
}

.c1{
 
  flex: 1;
  order: 1;
  flex-basis: 30%;
}
.c2{
 
  flex: 1;
  order: 2;
  flex-basis: 30%;
}

.c3{
 
  flex: 1;
  order: 3;
  flex-basis: 30%;
}

.call2{
  display: flex;
  padding: 3%;
  text-align: center;
}

.c4{
 
  flex: 2;
  order: 1;
  flex-basis: 30%;
}
.c5{
 
  flex: 2;
  order: 2;
  flex-basis: 30%;
}

.c6{
 
  flex: 3;
  order: 3;
  flex-basis: 30%;
}


a {
  color: rgb(199, 74, 2);
  text-transform: uppercase;
  text-decoration: none;
  background-color: blueviolet;
}


button{

  background-color: white;
  border: none;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  text-align: center;
  text-decoration: none;
  transition-duration: 0.4s;
  font-size: 15pt;
  width: 90pt;
  height:90pt;
  border-radius: 50%;
  
}

button:hover{
background-color: yellow;
color: black; 
}


.box-1 {
 
  flex: 1;
  order: 1;
  height: 250px;
  flex-basis: 50%;
  border-radius: 25px;
  /*
  
  width: auto;
  
  flex-wrap: wrap;
  flex-direction: row; 
   gap: 200em;
    padding-top: 0.5%;
    justify-content: space-evenly; 
    
     background-color: grey;*/
  
 
 
}

.box-2 {
  flex: 1;
  order: 2;
  align-self: flex-start;
  flex-basis: 50%;
  padding: 2%;
  height: 300px;
}

            
iframe{

  border-radius: 35px;
  }


