


body{

text-align: center; 
background-image: url("images/backgroung/background.jpg"); 
background-size: cover; 
background-repeat: repeat-y;
background-size: 100%;
width: 100%;

font-family: Arial;

}


a {
  color: rgb(199, 74, 2);
  text-transform: uppercase;
  text-decoration: none;
}


button{

  background-color: rgba(9, 30, 9, 0.6);
  color: rgb(51, 170, 148);
  border: none;
  text-align: center;
  text-decoration: none;
  transition-duration: 0.4s;
  font-size: 20pt;
  width: 75pt;
  height:75pt;
  border-radius: 50%;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  
}

button:hover{
background-color: yellow;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
color: red;
}



h1{
  color: black;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

p{

  text-align: center;
  
  padding:2%;

 
}


  


