


body{

text-align: center; 
align-content: center;
background-image: url("images/backgroung/background.jpg"); 
background-size: cover; 
background-repeat: repeat-y;
background-size: 100%;
width: 100%;

font-family: Arial;

}

/*

.call{
  display: flex;
  padding: 1%;
  text-align: center;
}

.c1{
 
  flex: 1;
  order: 1;
  flex-basis: 16%;
}
.c2{
 
  flex: 1;
  order: 2;
  flex-basis: 16%;
}

.c3{
 
  flex: 1;
  order: 3;
  flex-basis: 16%;
}



.c4{
 
  flex: 1;
  order: 4;
  flex-basis: 16%;
}
.c5{
 
  flex: 1;
  order: 5;
  flex-basis: 16%;
}

.c6{
 
  flex: 1;
  order: 6;
  flex-basis: 16%;
}

*/


a {
  color: rgb(199, 74, 2);
  text-transform: uppercase;
  text-decoration: none;
}


button{

  background-color: white;
  border: none;
  text-align: center;
  text-decoration: none;
  transition-duration: 0.4s;
  font-size: 10pt;
  width: 45pt;
  height:45pt;
  border-radius: 50%;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  
}

button:hover{
background-color: yellow;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
color: red;
}



h1{
  color: black;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


@media (min-width: 500px) {
  .container_0 {
    display: flex;
  }
}

  


